@media (max-width: 940px) {

  body {
    background-image: none;
  }


  /* HEADER */

  #header-background {
    display: none;
  }

  header #right-block {
    display: none;
  }
  header {
    height: auto;
    padding: 5% 10%;
    -webkit-box-shadow: inset 0px 0px 180px -46px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 180px -46px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 180px -46px rgba(0,0,0,0.75);
  }
  header img {
    height: auto;
    width: 100%;
    margin: 0;
  }

  #centered-block {
    width: 100%;
    top: 0;
    margin-bottom: -120px;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}



@media (max-width: 640px) {

  #centered-block {
    margin-bottom: 38px;
  }

  /* NAVIGATION */

  .topnav a {
    display: none;
  }
  .topnav a.menu-button {
    float: right;
    display: block;
  }
  .topnav.sticky{
    position: fixed;
  }
  .topnav.responsive .menu-button {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: center;
    background-color: rgba(52,125,178,.9);
  }
  .topnav.responsive a:hover {
    box-shadow(0 0 0 1px #fff);
    background-color: #225477;
  }


  /* ABOUT */

  .content {
    padding: 25px;
    margin-bottom: -120px;
  }
  #napu-logo {
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 50px;
  }


  /*ARCHIVE*/

  button.accordion {
    font-size: 16px;
  }


  /*COOPERATION*/

  #cooperation ol,
  #cooperation ol ul {
    list-style-position:inside;
    padding-left: 0;
  }


  /*CONTACTS*/

  #contact-info {
    margin: 0 0 40px 0;
  }
  div.contact-list .phones a {
    display: inline-block;
  }
  div.contact-list .phones span {
    display: none;
  }

  #social-contacts {
    width: 100%;
    overflow: hidden;
  }
  
  #map {
    float: left;
    margin-right: 30px;
  }
}