body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/egg_shell.png");
  /*background-color: #eff1f5;*/
}


/* HEADER */

.header-background {
	width: 100%;
	height: 375px;
  background-image: url("../images/attorney_banner-1920x450.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
	/*background-color: #3498db;*/
	position: absolute;
	top: 0;
	z-index: -1;
}

.centered-block {
	max-width: 1000px;
	/*outline: 1px dotted red;*/
	margin: auto;
  margin-bottom: 100px;
	position: relative;
	top: 120px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}

header, .topnav{
  width: 100%;
  text-align: center;
  color: #fff;
}

.title {
	height: 255px;
	background-color: #2A658F;
  overflow: hidden;
}

.title img {
  max-height: 100%;
}

.topnav {
	position: relative;
  z-index: 1;
  height: 50px;
  line-height: 50px;
  /*margin-bottom: -10px; /* nav height */
  /*padding: 20px 0;*/
  /*word-spacing: 36px;*/
  background-color: rgba(52,152,219,.9);
  transition: box-shadow 400ms;

  /*overflow: hidden;*/
}

.topnav a{
	color: white;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	margin: 0 30px;
	/*padding: 0 30px;*/
/*	float: left;
	color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;*/
}
a:hover{
  box-shadow(0 0 0 1px #fff);

/*  background-color: #ddd;
  color: black;*/
}

/*.topnav .icon {
  display: none;
}*/

.sticky{
  position: fixed;
	max-width: 1000px;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


/* MAIN */

.napu-logo {
  float: left;
}

.napu-logo img {
  width: 350px;
  margin: 0 40px 20px 0;
}

.content {
  padding: 60px;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

.main-page {
  text-align: justify;
}

/* ARCHIVE */

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    font-size: 18px;
    cursor: pointer;
    padding: 18px 45px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active,
button.accordion:hover {
    background-color: #a9d3ef;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.archive .accordion:first-child div.panel {
  /*background-color: red;*/
  /*overflow: hidden;*/
}


button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.archive .accordion {
	font-size: 22px;
	font-weight: bold;
}

.card {
    /* Add shadows to create the "card" effect */
    float: left;
		width: 180px;
		height: 320px;
		margin: 50px 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.2s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/* COOPERATION */

.cooperation ul {
  list-style-type: none;
}



/* CONTACTS */

#map {
  float: left;
  margin-right: 30px;
}


}
