/* BODY */

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background.png");
  min-height:100%; /*for the Footer*/
  position:relative; /*for the Footer*/
}
body::after { /*for the Footer*/
  content:'';
  display:block;
  height:120px;
}


/* HEADER */

#header-background {
	width: 100%;
	height: 375px;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
#centered-block {
	max-width: 1000px;
	margin: auto;
  margin-bottom: 100px;
  position: relative;
  top: 120px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
}
header {
  height: 255px;
  background-color: #2A658F;
  overflow: hidden;
  -webkit-box-shadow: inset -200px 0px 400px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -200px 0px 400px -30px rgba(0,0,0,0.75);
  box-shadow: inset -200px 0px 400px -30px rgba(0,0,0,0.75);
}
header img {
  max-height: 100%;
  height: 210px;
  margin: 20px 0 0 190px;
  float: left;
}
#last-issue {
  position: absolute;
  width: 120px;
  height: 180px;
  top: -60px;
  right: 120px;
  z-index: 99;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Safari */
  transform: rotate(7deg);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
#last-issue:hover {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
}
header #right-block .last-issue-capture {
  display: block;
  position: absolute;
  right: 0;
  margin: 20px 20px 0 0;
}
header #right-block .last-issue-capture p {
  margin-bottom: -5px;
  color: #EBB152;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
.social-header {
  display: block;
  position: relative;
  float: right;
  width: 265px;
  height: 60px;
  top: 175px;
  overflow: hidden;
}
.social-header .social-icons {
  width: 42px;
  height: 42px;
  margin: 0 12px;
}
.social-header .social-icons:hover {
  opacity: 0.5;
}


/* NAVIGATION */

.topnav {
	position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  height: 50px;
  line-height: 50px;
  background-color: rgba(52,125,178,.9);
  transition: box-shadow 400ms;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.topnav a {
	color: #ffffff;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0 -2px;
  font-size: 15px;
}
.topnav a:hover {
  box-shadow(0 0 0 1px #fff);
  background-color: #225477;
}
.topnav .menu-button {
  display: none;
}
.sticky{
  position: fixed;
  max-width: 1000px;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


/* ABOUT */

#napu-logo {
  float: left;
  width: 270px;
  margin: 0 40px 20px 0;
}
.content {
  padding: 60px;
}
.content::after {
  content: "";
  clear: both;
  display: table;
}
#about {
  text-align: justify;
}
#about h4 {
  padding-bottom: 10px;
  font-weight: bold;
}


/* ARCHIVE */

#archive h3 {
  padding: 0 20px 40px 0;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

button.accordion {
  background-color: #dae7f1;
  color: #444;
  font-size: 20px;
  cursor: pointer;
  padding: 13px 30px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.accordion.active,
button.accordion:hover {
  background-color: #225477;
  color: #fff;
}
div.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: relative;
  margin: 10px auto;
  text-align:center;
}
button.accordion:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  font-size: 18px;
  color: #777;
  float: right;
  margin-left: 5px;
}
button.accordion.active:after {
  content: "\e080";
}
#archive .accordion span {
  font-weight: bold;
}
.card {
  display:inline-block;
  width: 140px;
  margin: 30px 15px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  transition: 0.2s;
  border-radius: 5px;
}
.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.card .container {
  width: 100%;
}
.card .container p {
  display: inline-block;
  margin: 15px 0;
}
.card .container .english {
  width: 24px;
  float: right;
  margin-top: 12px;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}


/* COOPERATION */

#cooperation h3 {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
}
#cooperation span.bold-item {
  font-weight: bold;
}
#cooperation ul {
  list-style-type: none;
  margin-bottom: 30px;
}
#cooperation ul,
#cooperation p {
  text-align: justify;
}
#cooperation div {
  margin-bottom: 10px;
}


/* CONTACTS */

#contacts {
  padding-bottom: 40px;
}
#contact-info {
  margin: 30px 0 30px 60px;
}
#contact-info h3 {
  padding: 0 0 25px 15px;
}
div.contact-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
div.contact-list i {
  width: 40px;
  text-align: center;
}
div.contact-list i.fa::before {
  color: #2A658F;
  font-size: 20px;
}
div.contact-list .phones a {
  display: none;
}
div.contact-list div {
  margin-bottom: 5px;
}
#social-contacts {
  display: block;
  position: relative;
  /*width: 265px;*/
  height: 60px;
  overflow: hidden;
  margin: 20px 10px 0 0;
}
#social-contacts .social-icons {
  width: 42px;
  height: 42px;
  margin: 0 12px;
}
#social-contacts .social-icons:hover {
  opacity: .7;
}


/* MAP */

#map {
  width: 100%;
  height: 400px;
  float: left;
  margin-right: 30px;
}


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(26,26,26,.8);
  color: #fff;
  padding: 1rem;
  clear: left;
  text-align: center;
  font-size: 90%;
  overflow:hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}